<form action="/cart" method="post">
  <input
    type="hidden"
    name="int_product_id"
    value="<%=product.int_product_id %>"
  />
  <button class="btn" type="submit">Add to Cart</button>
</form>
